* {
    box-sizing: border-box;

    /* border: 1px solid black;  */
    /* 초기 설계할 때 설정해두면 좋음, 추후 삭제 */   
}

body {
    margin: 0;
}

main {
    width: 1300px;
    margin: auto;
}

header {
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 8px;
    width: 1400px;
}

header > * {
    /* margin: auto; */
}
.content > * {
    /* margin: auto; */
}


header > section:nth-child(1) {
    flex-basis: 20%;
}

header > section:nth-child(2),
header > section:nth-child(4) {
    flex-basis: 10%;
}

header > section:nth-child(3) {
    flex-basis: 50%;
}

header > section:nth-child(5) {
    flex-basis: 20%;
}


/* 메뉴, 로고 */

#youtube-menu {
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#youtube-logo {
    width:100px;
}


.menu-logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    flex-basis: 50%;
    text-align: center;
}

.logo {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}


/* 검색창 */
.search-voice-area {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.search-voice-area fieldset {
    border: 2px solid #ddd;
    margin: 0;
    padding: 0;

    display: flex;
    border-radius: 150px 150px 150px 150px;
    flex-basis: 90%;
    justify-content: center;
    align-items: center;
    position: relative;
} 


.search-voice-area fieldset > section:nth-of-type(1) { /* 검색창 전체 */
    border-right: 2px solid #ddd;
    margin: 0;
}

.search-voice-area section:nth-of-type(2) { /* 마이크 섹션*/
    display: flex;
    flex-basis: 5%;
    /* border: 2px solid #ddd; */
  
    margin: 0;
    padding: 0;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 0 150px 150px 0;
}

#query {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 400px;
    flex-basis: 85%;
    background-color: transparent;
}



#keyboard-btn {
    flex-basis: 5%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: darkgrey;
    font-size: 18px;
    
    position: absolute;

    right: 80px;
    top: 2px;
    bottom: 1px;
}




#search-btn {
    flex-basis: 10%;
    cursor: pointer;
    font-size: 25px;
    width: 70px;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    
}


#mike-btn {
    font-size: 18px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    margin-left: 25px;
}

/* 헤드 오른쪽 */
.video-bell-my-area {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}


.v1 {
    margin-right: 20px;
    
}

.b1 {
    margin-right: 15px;

}

.m1 {
    margin-right: 10px;

}


#video {
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#bell {
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#id {
    font-size: 10px;
    background-color: transparent;
}



/* content */

.content {
    width: 1400px;
    height: 800px;
    display: flex;
}

.왼쪽 {
    flex-basis: 70%;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
} 

.오른쪽 {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-top: 20px;
    border: 1px solid red;
    margin-left: 30px;
} 

.영상란 {
    border-radius: 10px;
}

.content1 {
    display: flex;
}

.content1-1 {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
}

.content1-1 section:nth-child(1) { /* 닉네임, 가입 영역*/
    display: flex;
    flex-basis: 45%;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    background-color: white; 
    font-size: 12px;
    width: 55px;
    height: 40px;
    border-radius: 150px 150px 150px 150px;
    border: 1px solid #ddd;
}


.구독-btn  {
    background-color: black;
    color: white;
    font-size: 12px;
    width: 55px;
    height: 40px;
    border-radius: 150px 150px 150px 150px;
    border: 1px solid #ddd;
}

.content1-1 section:nth-child(2) { /* 구독 섹션 */
    flex-basis: 10%;
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


.content1-1 section:nth-child(3) {
    flex-basis: 45%;
}

.content1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.content1-2 > section:nth-child(1) {
    flex-basis: 15%;
}

.content1-2 > section:nth-child(2) { /* 따봉, 공유 라인 */
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-thumbs-up {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    width: 50px;
    height: 30px;
    border-radius: 150px 0 0 150px;
    border: 1px solid #ddd;
}

.fa-thumbs-down {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    width: 50px;
    height: 30px;
    border-radius: 0 150px 150px 0;
    border: 1px solid #ddd;
}

.fa-share {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    width: 70px;
    height: 30px;
    border-radius: 150px 150px 150px 150px;
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px;
}

.따봉 {
    flex-basis: 60%;
    display: flex;
}

.공유 {
    flex-basis: 40%;
    display: flex;
}


.content1-2 > section:nth-child(3) {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    text-align: center;
}

.fa-arrow-down {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    width: 130px;
    height: 30px;
    border-radius: 150px 150px 150px 150px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.fa-scissors {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    width: 70px;
    height: 30px;
    border-radius: 150px 150px 150px 150px;
    border: 1px solid #ddd;
} 


.content1-2 > section:nth-child(4) {
    flex-basis: 5%;
    display: flex;
    align-items: center;
    text-align: center;
}


.fa-ellipsis {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 150px 150px 150px 150px;
    border: 1px solid #ddd;
    margin-left: 10px;    
} 

/* #재생목록 {
    height: 100%;
    width: 100%;
    
} */



.모음 {
    width: 120px;
    height: 60px;
    margin-right: 10px;
}

.재생목록 fieldset {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.순번 {
    display: block;
    margin-right: 15px;
}

.재생목록 span {
    font-size: 10px;
    text-align: start;
    display: block;
}


.video-list {
    flex-basis: 2%;
}


.play-list {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: flex-end;
}

.blank1 {
    flex-basis: 15%;
}